* {
  padding: 0px;
  margin: 0px;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 50%;
  max-width: 200px;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: green;
}

.cell {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.snake {
  background-color: black;
}

.fruit {
  background-color: red;
}